<div class="navbar-header">
       <!-- preparing navbar -->
            <a class="navbar-brand"><%= link_to 'HeyBuddy', root_path, class: 'navbar-brand' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>  
            </button>
    </div>

    